@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  src: url("./assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
}

.ff-montserrat {
  font-family: "Montserrat", "Arial", sans-serif;
}

/* Flashing animation for final message */
.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}
